header {
    height: 50%;
    background-color: #F0EEEC;
}

.logo {
    padding: 1%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px;
}

.navigation {
    text-align: right;
    color: black;}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#uxSkills {
    text-align:center;
}

#myWorkTitle {
    text-align:center;

}

.projectButton {
    display: flex;
    justify-content: center;
}
.workGrid {
    display: grid;
    grid-template-areas: "myArea1 myArea2";

}
.item1 {
    grid-area: myArea1;
}

.item2 {
    grid-area: myArea2;
}


